*{
    padding: 0;
    margin: 0
}
.container{
    margin-top: 65px;
    width:432px;
    height: 509px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    color: #1c1e21;
    line-height: 1.34;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #606770;
}
input:focus{
    outline: none;
}
.top{
    padding:10px 16px;
    border-radius: 8px 8px 0 0;
}
.top img{
    position: absolute;
    right: 10px;
    top: 12px;
}
.big-font{
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}
.medium-font{
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
}
.mid{
    border-top: 1px solid #dadde1;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}
.row{
    height: 50px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    box-sizing: border-box;
}
.sub-row{
    width:194px;
    margin-right: 10px;
}
.content{
    box-sizing: border-box;
    width:400px;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 16px;
    border: 1px solid #ccd0d5;
    border-radius: 5px
}
.short-row{
    width: 194px !important;
}
.comment{
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}
.comment a{
    color:#606770
}
.selected-row{
    height: 36px;
    display: flex;
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    justify-content: space-between;
}
.sheet{
    border: 1px solid #ccd0d5;
    width: 125px;
    padding: 5px;
}
.gender{
    height: 36px;
    border: 1px solid #ccd0d5;
    border-radius: 4px;
    color: #1c1e21;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 28px;
    position: relative;
    box-sizing: border-box;
}
.radio{
    position: absolute;
    right: 10px;
}
.gender label{
    display: block;
    width: 100%;
}
.size105{
    width: 105px;
}
.size120{
    width: 120px;
}
.size150{
    width: 150px;
}
.text{
    color: #777;
    font-size: 11px;
    padding: 0 16px;
}
.text a{
    text-decoration: none;
}
.text a:hover{
    text-decoration: underline;
}
.Dang-ky{
    margin: 26px 16px;
    text-align: center;
}
#submit{
    height: 36px;
    min-width: 194px;
    padding: 7px 32px;
    background-color: #00a400;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 126%;
}