.text{
    width: 40%;
    text-align: justify;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.content .image{
    width:45%;
}

.image img{
    width: 100%;
}
