*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: serif;
    line-height: 24px;
    background-image: linear-gradient(to right, #33abe0, #87bbea, #bacef1);
}
#back-home{
    margin-left: 50px;
    margin-top:20px;
}
#back-home a{
    text-decoration: none;
    color: honeydew;
    font-weight: 800;
    text-transform: uppercase;
}
.content{
    display: block;
    background-color: white;
    margin: 10px 60px;
}
.tieu-de{
    padding: 20px 0px 0px 50px;
    height: 40px;
    border-bottom: grey solid 1px;
}
h1{
    color: blue;
    padding-top: 7px;
}
.detail{
    display: flex;
    margin: 30px 50px;
    padding-bottom: 30px;
}
.image{
    width: 40%;
    height: 400px;
    animation: slide 8s ease-in-out infinite alternate both;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 4px 4px 4px gray;
}
.text{
    margin-left: 80px;
    font-size: 16px;
    line-height: 34px;
}
.text ul{
    list-style-type: none;
    padding-left: 40px;
}
.text ul li::before{
    content:"▶ "
}