@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700");
[data-theme] {
  background-color: hsl(0, 0%, 100%);
  background-color: var(--color-bg, #fff);
  color: hsl(240, 4%, 20%);
  color: var(--color-contrast-high, #313135);
}
:root {
  --space-unit: 1em;
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);
}
:root {
  --max-width-xxs: 32rem;
  --max-width-xs: 38rem;
  --max-width-sm: 48rem;
  --max-width-md: 64rem;
  --max-width-lg: 80rem;
  --max-width-xl: 90rem;
  --max-width-xxl: 120rem;
}

:root {
  --cd-color-1: hsl(206, 21%, 24%);
  --cd-color-1-h: 206;
  --cd-color-1-s: 21%;
  --cd-color-1-l: 24%;
  --cd-color-2: hsl(205, 38%, 89%);
  --cd-color-2-h: 205;
  --cd-color-2-s: 38%;
  --cd-color-2-l: 89%;
  --cd-color-3: hsl(207, 10%, 55%);
  --cd-color-3-h: 207;
  --cd-color-3-s: 10%;
  --cd-color-3-l: 55%;
  --cd-color-4: hsl(111, 51%, 60%);
  --cd-color-5: hsl(356, 53%, 49%);
  --cd-color-5-h: 356;
  --cd-color-5-s: 53%;
  --cd-color-5-l: 49%;
  --cd-color-6: #ff69b4 ;
  --cd-color-6-h: 47;
  --cd-color-6-s: 85%;
  --cd-color-6-l: 61%;
  --cd-header-height: 200px;
  --font-primary: "Droid Serif", serif;
  --font-secondary: "Open Sans", sans-serif;
}
@supports (--css: variables) {
  @media (min-width: 64rem) {
    :root {
      --cd-header-height: 300px;
    }
  }
}
.cd-main-header {
  height: 200px;
  height: var(--cd-header-height);
  background: hsl(206, 21%, 24%);
  background: var(--cd-color-1);
  color: hsl(0, 0%, 100%);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header h1 {
  font-family: "Open Sans", sans-serif;
  font-family: var(--font-secondary);
  color: inherit;
}
.cd-timeline {
  overflow: hidden;
  padding: 2em 0;
  padding: var(--space-lg) 0;
  color: hsl(207, 10%, 55%);
  color: var(--cd-color-3);
  background-color: transparent;
  font-family: "Droid Serif", serif;
  font-family: var(--font-primary);
}
.cd-timeline h2 {
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: var(--font-secondary); */
  font-weight: 700;
}
.cd-timeline__container {
  position: relative;
  padding: 1.25em 0;
  padding: var(--space-md) 0;
}
.cd-timeline__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 38px;
  height: 100%;
  width: 4px;
  background: hsl(205, 38%, 89%);
  background: var(--cd-color-2);
}
@media (min-width: 64rem) {
  .cd-timeline__container::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.cd-timeline__block {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: 2em;
  margin-bottom: var(--space-lg);
}
.cd-timeline__block:last-child {
  margin-bottom: 0;
}
@media (min-width: 64rem) {
  .cd-timeline__block:nth-child(even) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.cd-timeline__img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 100%), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px var(--color-white), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline__img img {
  width: 24px;
  height: 24px;
}
@media (min-width: 64rem) {
  .cd-timeline__img {
    width: 60px;
    height: 60px;
    -ms-flex-order: 1;
    order: 1;
    margin-left: calc(5% - 30px);
    will-change: transform;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__img {
    margin-right: calc(5% - 30px);
  }
}
.cd-timeline__img--green {
  background-color: hsl(111, 51%, 60%);
  background-color: var(--cd-color-4);
}
.cd-timeline__img--red {
  background-color: #bf3b43;
  background-color: var(--cd-color-5);
}
.cd-timeline__img--pink {
  background-color: var(--cd-color-6);
}
.cd-timeline__img--grey {
  background-color: hsl(206, 21%, 24%);
}
.cd-timeline__img--grey-fade {
  background-color: hsl(206, 21%, 70%);
}
.cd-timeline__content {
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin-left: 1.25em;
  margin-left: var(--space-md);
  background: hsl(0, 0%, 100%);
  background: var(--color-white);
  border-radius: 0.25em;
  border-radius: var(--radius-md);
  padding: 1.25em;
  padding: var(--space-md);
  box-shadow: 0 3px 0 hsl(205, 38%, 89%);
  box-shadow: 0 3px 0 var(--cd-color-2);
}
.cd-timeline__content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: hsl(0, 0%, 100%);
  border-right-color: var(--color-white);
}
.cd-timeline__content h2 {
  color: hsl(206, 21%, 24%);
  color: var(--cd-color-1);
}
@media (min-width: 64rem) {
  .cd-timeline__content {
    width: 45%;
    -ms-flex-positive: 0;
    flex-grow: 0;
    will-change: transform;
    margin: 0;
    font-size: 0.8em;
    --line-height-multiplier: 1.2;
  }
  .cd-timeline__content::before {
    top: 24px;
  }
  .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
    right: auto;
    left: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: hsl(0, 0%, 100%);
    border-left-color: var(--color-white);
  }
}
.cd-timeline__date {
  color: hsla(207, 10%, 55%, 0.7);
  color: hsla(
    var(--cd-color-3-h),
    var(--cd-color-3-s),
    var(--cd-color-3-l),
    0.7
  );
}
@media (min-width: 768px) {
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 120%;
    top: 20px;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 120%;
    text-align: right;
    color: white;
  }
}
@media (min-width: 768px) {
  .cd-timeline__img--hidden,
  .cd-timeline__content--hidden {
    visibility: hidden;
  }
  .cd-timeline__img--bounce-in {
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  .cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
    -webkit-animation-name: cd-bounce-2-inverse;
    animation-name: cd-bounce-2-inverse;
  }
}
@media (max-width: 768px) {
  .cd-timeline__img--hidden,
  .cd-timeline__content--hidden {
    visibility: hidden;
  }
  .cd-timeline__img--bounce-in {
    -webkit-animation:  fadeInUp .8s ease-out;
    animation:  fadeInUp .8s ease-out;
  }
  .cd-timeline__content--bounce-in {
    -webkit-animation:  fadeInUp .8s ease-out;
    animation: fadeInUp .8s ease-out;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}